
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css" integrity="sha512-8BU3emz11z9iF75b10oPjjpamM4Mz23yQFQymbtwyPN3mNWHxpgeqyrYnkIUP6A8KyAj5k2p3MiYLtYqew7gIw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/elegant-icons.css" rel="stylesheet">
    <link href="/assets/css/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/validnavs.css" rel="stylesheet">
    <link href="/assets/css/helper.css" rel="stylesheet">
    <link href="/assets/css/unit-test.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

</head>

<body>

<div class="preloader">
    <div class="preloader-container">
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
        <div class="preloader-item"></div>
    </div>
</div>
<!-- Begin quickLinks -->
<div class="quickLinks-wrap">
    <div class="quickLinks-item" data-for-quick = '1'>
        <div class="quickLinks-head">
            <img src="img/map-marker-white.svg" alt="img">
            <p>Location</p>
        </div>
    </div>
    <div class="quickLinks-item" data-for-quick = '2'>
        <div class="quickLinks-head">
            <img src="img/calendar-white.svg" alt="img">
            <p>Book a Tour</p>
        </div>
    </div>
    <div class="quickLinks-item" data-for-quick = '3'>
        <div class="quickLinks-head">
            <img src="img/paper-white.svg" alt="img">
            <p>For Parents</p>
        </div>
    </div>
    <div class="quickLinks-item" data-for-quick = '4'>
        <div class="quickLinks-head">
            <img src="img/phone-white.svg" alt="img">
            <p>Contacts</p>
        </div>
    </div>

    <div class="quickLinks-desc" data-to-quick = '1'>
        <div class="map-block">
            <iframe src="https://maps.google.com/maps?width=400px&amp;height=300px&amp;hl=en&amp;q=2880Broadway,NewYork&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
    </div>
    <div class="quickLinks-desc" data-to-quick = '2'>
        <div class="quickLinks-content">
            <h4>Book A Tour</h4>
            <form action="#" class="book-form" id="bookingForm">
                <div class="successform">
                    <p>Your message was sent successfully!</p>
                </div>
                <div class="errorform">
                    <p>Something went wrong, try refreshing and submitting the form again.</p>
                </div>
                <input type="text" name="name" placeholder="Your name">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="email" name="email" placeholder="Your e-mail">
                    </div>
                    <div class="col-lg-6">
                        <input type="tel" name="phone" placeholder="Your phone">
                    </div>
                </div>
                <div class="time-picker">
                    <img src="img/lazy.png" class="lazy" data-src="img/calendar.svg" alt="img">
                    <input type="text" name="date" class="choose-data datetimepicker" autocomplete="off" placeholder="What is your child's birth date?" readonly>
                </div>
                <div class="check-list-wrap">
                    <div class="check-list-header">
                        <p>Which care days do you require?</p>
                    </div>
                    <div class="check-list">
                        <label for="monday">
                            <input type="checkbox" name="monday" id="monday" value="monday">
                            <span>monday</span>
                        </label>
                        <label for="thursday">
                            <input type="checkbox" name="thursday" id="thursday" value="thursday">
                            <span>thursday</span>
                        </label>
                        <label for="tuesday">
                            <input type="checkbox" name="tuesday" id="tuesday" value="tuesday">
                            <span>tuesday</span>
                        </label>
                        <label for="friday">
                            <input type="checkbox" name="friday" id="friday" value="friday">
                            <span>friday</span>
                        </label>
                        <label for="wednesday">
                            <input type="checkbox" name="wednesday" id="wednesday" value="wednesday">
                            <span>wednesday</span>
                        </label>
                        <label for="saturday">
                            <input type="checkbox" name="saturday" id="saturday" value="saturday">
                            <span>saturday</span>
                        </label>
                    </div>
                </div>
                <div class="time-picker">
                    <img src="img/lazy.png" class="lazy" data-src="img/calendar.svg" alt="img">
                    <input type="text" name="time" class="choose-data datetimepicker" autocomplete="off" placeholder="Desired Start Date" readonly>
                </div>
                <button type="submit" class="button read-more mt-10">submit <svg  width="9" height="9" viewBox="0 0 9 9" fill="none"><path d="M0.505883 5.20577L0.491834 5.2027L6.51423 5.2027L4.62101 7.10009C4.5283 7.19272 4.47745 7.31821 4.47745 7.44992C4.47745 7.58162 4.5283 7.70623 4.62101 7.79909L4.91559 8.09382C5.00823 8.18645 5.13166 8.23767 5.2633 8.23767C5.39501 8.23767 5.51852 8.18682 5.61115 8.09418L8.85649 4.84913C8.94949 4.75613 9.00035 4.63226 8.99998 4.50048C9.00035 4.36796 8.94949 4.24401 8.85649 4.15116L5.61115 0.905818C5.51852 0.813257 5.39508 0.76233 5.2633 0.76233C5.13166 0.76233 5.00823 0.813331 4.91559 0.905818L4.62101 1.20055C4.5283 1.29304 4.47745 1.41655 4.47745 1.54826C4.47745 1.67989 4.5283 1.79689 4.62101 1.88945L6.53559 3.79745L0.499152 3.79745C0.227908 3.79745 -1.94412e-05 4.03123 -1.94175e-05 4.30233L-1.93811e-05 4.71918C-1.93574e-05 4.99028 0.23464 5.20577 0.505883 5.20577Z"/></svg></button>
            </form>
        </div>
    </div>
    <div class="quickLinks-desc" data-to-quick = '3'>
        <div class="quickLinks-content">
            <h4>Parent Resources</h4>
            <div class="download-list">
                <p>
							<span>
								<img src="img/lazy.png" class="lazy" data-src="img/handbook.svg" alt="img">
								Parent Handbook (246 Kb)
							</span>
                    <a href="#"><img src="img/lazy.png" class="lazy" data-src="img/pdf-ico.svg" alt="img">download</a>
                </p>
                <p>
							<span>
								<img src="img/lazy.png" class="lazy" data-src="img/checklist.svg" alt="img">
								Child Care Checklist (95 KB)
							</span>
                    <a href="#"><img src="img/lazy.png" class="lazy" data-src="img/pdf-ico.svg" alt="img">download</a>
                </p>
                <p>
							<span>
								<img src="img/lazy.png" class="lazy" data-src="img/paper-form.svg" alt="img">
								Agreement Form (94 KB)
							</span>
                    <a href="#"><img src="img/lazy.png" class="lazy" data-src="img/pdf-ico.svg" alt="img">download</a>
                </p>
                <p>
							<span>
								<img src="img/lazy.png" class="lazy" data-src="img/billing.svg" alt="img">
								Monthly Billing Chart (95 KB)
							</span>
                    <a href="#"><img src="img/lazy.png" class="lazy" data-src="img/pdf-ico.svg" alt="img">download</a>
                </p>
            </div>
        </div>
    </div>
    <div class="quickLinks-desc" data-to-quick = '4'>
        <div class="quickLinks-content">
            <h4>Our Contacts</h4>
            <div class="contact-list">
                <a href="#" target="_blank"><img src="img/lazy.png" class="lazy" data-src='img/map-marker-small.svg' alt="marker"> 3261 Anmoore Road Brooklyn, NY 11230</a>
                <a href="tel:8001234567"><img src="img/lazy.png" class="lazy" data-src='img/call.svg' alt="call"> 800-123-4567, Fax: 718-724-3312</a>
                <a href="mailto:officeone@youremail.com"><img src="img/lazy.png" class="lazy" data-src='img/envelope.svg' alt="img">officeone@youremail.com</a>
                <p><img src="img/lazy.png" class="lazy" data-src='img/clock.svg' alt="img">Mon-Fri: 9:00 am – 5:00 pm<br>Sat: 11:00 am – 16:00 pm</p>
            </div>
        </div>
    </div>
</div>
<!-- End quickLinks -->



{{ partial src="parts/header"}}
{{ template_content }}
{{ partial src="parts/footer"}}


<!-- ===> Juery 3.2.1 JS <==== -->
<script src="vendor/jquery/jquery-3.7.1.min.js"></script>
<!-- ===> Bootstrap 4 JS <==== -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- ===> Lazy loader JS <==== -->
<script src="vendor/lazy-load/jquery.lazy.min.js"></script>
<!-- ===> Input mask JS <==== -->
<script src="vendor/input-mask/jquery.mask.min.js"></script>
<!-- Data picker -->
<script src="vendor/bootstrap-datetimepicker/moment.js"></script>
<script src="vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<!-- Lightbox -->
<script src="vendor/lightbox/ekko-light.min.js"></script>
<!-- Masonry JS -->
<script src="vendor/masonry/masonry.4.2.2.pkgd.min.js"></script>
<!-- Images loader -->
<script src="vendor/imagesloaded/imagesloaded_4.1.4.min.js"></script>
<script src="vendor/shuffle/isotope.js"></script>
<!-- ===> Slick slider JS <==== -->
<script src="vendor/slick/slick/slick.min.js"></script>
<script src="vendor/form-validation/jquery.form.js"></script>
<script src="vendor/form-validation/jquery.validate.min.js"></script>
<script src="vendor/paroller/dist/jquery.paroller.min.js"></script>
<script src="js/common.js"></script>
<script src="form/forms.js"></script>
</body>
</html>
