<footer>
    <div class="footer-top lazy" data-src="img/footer-bg.svg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="f-subscribe">
                        <a href="index.html" class="logo"><img src="img/logo.svg" alt="logo"></a>
                        <p>Our experienced team strives to offer a creative and engaging environment and the opportunity for children to learn, grow, and thrive.</p>
                        <form action="#" class="signup-form" id="newsletterForm">
                            <input type="text" name="email" class="signup" placeholder="Newsletter signup">
                            <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><path d="M0.505883 5.20577L0.491834 5.2027L6.51423 5.2027L4.62101 7.10009C4.5283 7.19272 4.47745 7.31821 4.47745 7.44992C4.47745 7.58162 4.5283 7.70623 4.62101 7.79909L4.91559 8.09382C5.00823 8.18645 5.13166 8.23767 5.2633 8.23767C5.39501 8.23767 5.51852 8.18682 5.61115 8.09418L8.85649 4.84913C8.94949 4.75613 9.00035 4.63226 8.99998 4.50048C9.00035 4.36796 8.94949 4.24401 8.85649 4.15116L5.61115 0.905818C5.51852 0.813257 5.39508 0.76233 5.2633 0.76233C5.13166 0.76233 5.00823 0.813331 4.91559 0.905818L4.62101 1.20055C4.5283 1.29304 4.47745 1.41655 4.47745 1.54826C4.47745 1.67989 4.5283 1.79689 4.62101 1.88945L6.53559 3.79745L0.499152 3.79745C0.227908 3.79745 -1.94412e-05 4.03123 -1.94175e-05 4.30233L-1.93811e-05 4.71918C-1.93574e-05 4.99028 0.23464 5.20577 0.505883 5.20577Z"/></svg></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="f-nav">
                        <h4>Quick Links</h4>
                        <nav>
                            <ul class="flex-style">
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="prices.html">Prices</a></li>
                                <li><a href="programs.html">Programs</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="parent-info.html">Parent Info</a></li>
                                <li><a href="blog-posts.html">Blog</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li><a href="gallery-boxed.html">Gallery</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="f-contact">
                        <h4>Our Contacts</h4>
                        <div class="contact-list">
                            <a href="#" target="_blank"><img src="img/lazy.png" class="lazy" data-src='img/map-marker-small.svg' alt="marker"> 3261 Anmoore Road Brooklyn, NY 11230</a>
                            <a href="tel:8001234567"><img src="img/lazy.png" class="lazy" data-src='img/call.svg' alt="call"> 800-123-4567, Fax: 718-724-3312</a>
                            <a href="mailto:officeone@youremail.com"><img src="img/lazy.png" class="lazy" data-src='img/envelope.svg' alt="img">officeone@youremail.com</a>
                            <p><img src="img/lazy.png" class="lazy" data-src='img/clock.svg' alt="img">Mon-Fri: 9:00 am – 5:00 pm<br>Sat: 11:00 am – 16:00 pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-bottom">
                        <p>&copy; 2024 <a href="#">ChildiT.</a> All Rights Reserved. <a href="#">Privacy Policy</a></p>
                        <div class="soc-link-wrap">
                            <p>Follow us:</p>
                            <ul class="soc-link">
                                <li><a href="#">
                                    <img src="img/lazy.png" class="lazy" data-src='img/facebook.svg' title='Facebook' alt="facebook">
                                </a></li>
                                <li><a href="#">
                                    <img src="img/lazy.png" class="lazy" data-src='img/twitter.svg' title='Twitter' alt="twitter">
                                </a></li>
                                <li><a href="#">
                                    <img src="img/lazy.png" class="lazy" data-src='img/instagram.svg' title='Instagram' alt="nstagram">
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="up-btn">
    <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 6.36563C13 6.77035 12.8528 7.17536 12.5568 7.4918C11.9438 8.1459 10.924 8.172 10.2791 7.55029L6.48873 3.89339L2.72462 7.54655C2.08197 8.17055 1.06219 8.14763 0.446938 7.49525C-0.168314 6.84259 -0.145429 5.80813 0.497507 5.18413L5.37122 0.453213C5.99268 -0.149866 6.9715 -0.151024 7.59494 0.449475L12.4992 5.1801C12.8316 5.50199 13 5.93281 13 6.36563Z"/>
    </svg>
</div>
