<!-- Begin header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="top-line">
                    <a href="index.html" class="logo"><img src="img/logo.svg" alt="logo"></a>
                    <nav class="main-nav">
                        <ul class="main-nav-list">
                            <li>
                                <a href="index.html" class="active-link">Home</a>
                            </li>
                            <li>
                                <a href="about-us.html">About Us</a>
                            </li>
                            <li>
                                <a href="programs.html">Programs</a>
                            </li>
                            <li>
                                <a href="parent-info.html">Parent Info</a>
                            </li>
                            <li>
                                <a href="events.html">Events <i class="fas fa-angle-down"></i></a>
                                <ul class="tt-dropdown-menu">
                                    <li>
                                        <a href="events.html">Events </a>
                                    </li>
                                    <li><a href="single-event.html">Event post</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="gallery-boxed.html">Gallery <i class="fas fa-angle-down"></i></a>
                                <ul class="tt-dropdown-menu">
                                    <li>
                                        <a href="gallery-boxed.html">Gallery boxed</a>
                                    </li>
                                    <li><a href="gallery-full-width.html">Gallery full width</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Pages <i class="fas fa-angle-down"></i></a>
                                <ul class="tt-dropdown-menu">
                                    <li>
                                        <a href="faq.html">FAQs</a>
                                    </li>
                                    <li>
                                        <a href="testimonials.html">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="prices.html">Prices</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog-posts.html">Blog <i class="fas fa-angle-down"></i></a>
                                <ul class="tt-dropdown-menu">
                                    <li>
                                        <a href="blog-posts.html">Blog posts</a>
                                    </li>
                                    <li>
                                        <a href="single-post.html">Single post</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">Contacts</a>
                            </li>
                        </ul>
                        <div class="close-nav">
                            <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M 10,10 L 30,30 M 30,10 L 10,30" fill="#3B4757"/>
                            </svg>
                        </div>
                    </nav>
                    <div class="header-controls">
                        <div class="header-search">
                            <i class="fas fa-search"></i>
                            <form action="#" class="search-form">
                                <input type="search" class="search" name="search" placeholder="Search...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <div class="hamburger">
                            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.02857 2.31427H22.9714C23.5371 2.31427 24 1.85141 24 1.2857C24 0.719983 23.5371 0.257126 22.9714 0.257126H1.02857C0.462857 0.257126 0 0.719983 0 1.2857C0 1.85141 0.462857 2.31427 1.02857 2.31427Z" fill="#3B4757"/>
                                <path d="M1.02857 10.0285H22.9714C23.5371 10.0285 24 9.56567 24 8.99996C24 8.43425 23.5371 7.97139 22.9714 7.97139H1.02857C0.462857 7.97139 0 8.43425 0 8.99996C0 9.56567 0.462857 10.0285 1.02857 10.0285Z" fill="#3B4757"/>
                                <path d="M1.02857 17.7428H22.9714C23.5371 17.7428 24 17.28 24 16.7143C24 16.1485 23.5371 15.6857 22.9714 15.6857H1.02857C0.462857 15.6857 0 16.1485 0 16.7143C0 17.28 0.462857 17.7428 1.02857 17.7428Z" fill="#3B4757"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-img">
        <img src="img/lazy.png" class="lazy" data-src="img/cloud.png" alt="cloud">
    </div>
    <!-- <div class="bottom-img">
        <img src="img/lazy.png" class="lazy" data-src="img/cloud.png" alt="cloud">
    </div> -->
</header>
<!-- End header -->
